SECRET_KEY_BASE=10167c7f7654ed02b3557b05b88ece
APP_SESSION_DOMAIN=rails-docker.example.com
APP_WEB_URL=http://rails-docker.example.com:3000
APP_CABLE_URL=ws://cable.rails-docker.example.com:28080
TWITTER_API_KEY=SOME_KEY
TWITTER_API_SECRET=SOME_KEY_SECRET
PUMA_MIN_THREADS=8
PUMA_MAX_THREADS=12
PUMA_WORKER_COUNT=2
DATABASE_URL: postgres://postgres:3x4mpl3@postgres.example.com:5432/demo_production?pool=25&encoding=unicode&schema_search_path=public,partitioning
REDIS_URL: redis://redis.example.com:6379
